.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
  margin-top: 30px;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
.speedDialIcon:hover {
  background-color: #450ef9;
  /* Updated background color on hover */
}
@media screen and (max-width: 600px) {
  .speedDial {
    margin-top: 100px;
    /* Apply margin-top on mobile devices */
  }
}