*{
  /* border: 2px solid red; */
}

footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: #2d3e50;
    color: #838b99;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftFooter {
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .leftFooter>h4 {
  font-family: "Roboto", sans-serif;
    font-size: 1.2vmax;

    margin-bottom: 0.5vmax;
  
} */

.leftFooter>p {
  text-align: center;
  font-size: 1vmax;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter>img {
  width: 8vmax;
  margin: 1vmax;
  cursor: pointer;
}

/* .leftFooter {
  flex-grow: 1;
  text-align: center;
} */

.leftFooter>h1 {
  font-size: 3vmax;
  font-family: "Roboto", sans-serif;
  color: #838b99;
  margin:auto;
  margin-bottom: 1vmax;
}

/* .midFooter>p {
  max-width: 80%;
  
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2vmax;
  
    margin: 0 auto;
  
} */

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.rightFooter>a {
  text-decoration: none;
  font-size: 4vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.3vmax;
  text-align:center;
    display: inline-block;
    padding: 0.3vmax 1vmax;
    background-color: #838b99;
    display:flex;
    justify-content:center;
    align-items: center;
      border-radius: 150%;
    
    }
    
    .rightFooter>a:hover {
      color: white;
      background-color: #838b99;
    
    }
    
    
    .newsletter {
      text-align: center;
      margin-bottom: 2rem;
    }
    
    .newsletter p {
      margin: 0;
    
    }
    
    .form-label {
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
      color: white;
    }
    
    .form-control {
      width: 100%;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 4px;
  background-color: transparent;
    color: white;
  }
  
  .btn-outline-light {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-outline-light:hover {
    background-color: #008080;
  }
  
  
  .links {
    text-align: center;
    margin-top: 2rem;
  
    margin-bottom: 2rem;
  
  }
  
  
  .links h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: white;
  }
  
  .links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .links ul li {
    margin: 0.5rem 0;
}

.links a {
  text-decoration: none;
  color: white;
  display: block;
    padding: 0.25rem 0;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: teal;
  }
  
  
  .links ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .links ul li::before {
    content: none;
  }
  
  input{
    width: 80%;
    padding:7px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
  }
  
  
  
  /* Define a media query for screens with a maximum width of 767px (typical for mobile devices) */
  /* @media screen and (max-width: 600px) {
  
  
    .footer {
  
      margin-top: 5vmax;
      padding: 1vmax;
      background-color: #2d3e50;
    }
  
    .leftFooter {
  
      width: 100%;
    }
  
    .leftFooter>h4 {
  
      font-size: 1.5vmax;
      margin-bottom: 0.3vmax;
    }
  
  
  
    .newsletter {
  
      margin-bottom: 1rem;
    }
  
    .form-label {
  
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    .links {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  
    .form-outline.form-white.mb-4 {
      width: 100%;
  
    }
  
    .form-control {
      text-align: center;
      width:50%;
    }
  
    .form-label {
      font-size: 14px;
  
    }
  
    .custom{
      width:50%;
    }

} */