.productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: #333;
    /* Darker color for better readability */
    font: 500 1.5vmax "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* Change the font */
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
    /* Add letter-spacing for a more spaced-out look */
    text-transform: uppercase;
    /* Convert text to uppercase */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Add a subtle text shadow */
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 30vh;
  margin-right: 30px;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: rgb(2, 4, 12);
}

.pageLinkActive {
  color: white;
}

.filterBox {
  margin-top: 100px;
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
  margin-right: 0px;
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 1000 1.0vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: tomato;
}

.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
}

@media screen and (max-width: 600px) {
  .productsHeading {
      margin-top: 70px;
    }
  
    .container {
      display: flex;
      flex-direction: column;
  
    }
  .filterBox {
    width: 100%;
    position: static;
top: auto;

  left: auto;

  margin-top: 2vmax;

}

.categoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-left: 0px;
}



.productContent {
  order: 2;

}


  .page-link {
    font: 300 1.2vmax "Roboto";
  }

  .category-link {
    font: 400 1.6vmax "Roboto";
    
      padding: 2px;
    }

}