/* ProductDescription.css */

/* Product Details Container */
.ProductDetails {
  background-color: rgb(250, 245, 245);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
  animation: fadeInUp 1s ease-in-out;
}

.ProductDetails>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
/* border: 1px solid white;*/
}

.ProductDetails>div:last-child {
  align-items: flex-start;
}

/* Carousel Image */
.CarouselImage {
  width: 100%;
    height: 500px;
    object-fit: cover;
    box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.267);
      border-radius: 4px;
      animation: fadeIn 1s ease-in-out;
    }
    
    .container {
      display: flex;
      align-items: flex-start;
    
      /* Adjust alignment as needed */
    }
    
    
    .image-grid {
      margin-top: 10px;
      display: grid;
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      /* Adjust the column size as needed */
      gap: 10px;
      /* Adjust the gap between images as needed */
      overflow-x: auto;
      /* Add horizontal scrolling if necessary */
      white-space: nowrap;
    
    
    }
    
    .image-grid::-webkit-scrollbar {
      width: 2px;
    }
    
    /* Handle (thumb) for the scrollbar */
    .image-grid::-webkit-scrollbar-thumb {
    
      border-radius: 4px;
    }
    
    /* Handle on hover */
    .image-grid::-webkit-scrollbar-thumb:hover {}
    
    .grid-image.selected {
      border: 2px solid #007bff;
      /* Change the border style as needed */
    }
      
            .carousel-container {
              flex: 1;
              /* You can add additional styling for the carousel container here */
              margin-left: 20px;
              /* Adjust the margin as needed to separate grid and carousel */
            }

.grid-image {
  max-width: 100%;
  /* Ensure the image does not exceed its container's width */
  max-height: 100px;
  /* Set a maximum height for the images */
  width: auto;
  /* Allow the width to adjust based on the height constraint */
  height: auto;

  object-fit: cover;
    border: 1px solid black;
  
  }
  
  /* Details Block 1 */
  .detailsBlock-1>h2 {
  color: rgb(54, 54, 54);
  font: 600 1.6vmax "Roboto";
}

.detailsBlock-1>p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax cursive;
}

/* Details Block 2 */
.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;
}

.detailsBlock-2-span {
  font: 200 0.8vmax cursive;
  color: rgba(0, 0, 0, 0.699);
}

/* Details Block 3 */
.detailsBlock-3 {
  width: 70%;
}

.detailsBlock-3>h1 {
  color: rgba(17, 17, 17, 0.795);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}
/* Details Block 3-1 */
.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1>button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.detailsBlock-3-1-1>button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.detailsBlock-3-1-1>input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  color: rgba(0, 0, 0, 0.74);
}

.detailsBlock-3-1>button:last-child {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: #000102;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax;
  outline: none;
  display: flex;
  align-items: center;
    justify-content: center;
  font-size: 1.2vmax;
    margin-right: 0.5vmax;
  }
  
  .detailsBlock-3-1>button:last-child:hover {
    background-color: rgb(116, 115, 114);
      transform: scale(1.1);
}

/* ButtonStyle */
.buttonStyle {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: #000102;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vmax;
  margin-right: 0.5vmax;
}

.buttonStyle:hover {
  background-color: rgb(122, 120, 120);
  transform: scale(1.1);
}

/* Details Block 3 - Paragraph */
.detailsBlock-3>p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Roboto";
  margin: 1vmax 0;
}

/* Payment Offers Container */
.payment-offers-container {
  display: flex;
  column-gap: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  min-width: 0;
  max-width: calc(100vw - 13px);
  margin-bottom: 10px;
}

.payment-offers-container .payment_offers {
  display: flex;
  border-radius: 10px;
  background: #fdf8e5;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #fcf2cf;
  transition: all 0.5s ease-in-out;
  padding: 4px;
}

.payment-offers-container .payment_offers .offer_text {
  height: 52px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.payment-offers-container .payment_offers .payment_icons {
  background: #fcf2cf;
  padding: 0px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Details Block 4 */
.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;
}

.detailsBlock-4>p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(0, 0, 0, 0.651);
    font: 400 1vmax "Roboto";
    margin: 1vmax 0;
    animation: fadeIn 1s ease-in-out;
    list-style-type: disc;
  padding-left: 2rem;
}

.detailsBlock-4>span {
  color: red;
  background-color: black;
  border: 1px solid red;
  border-radius: 10%;
  padding: 2px 5px;
}

/* Read More and Read Less Buttons */
.read-more-button,
.read-less-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.read-less-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* Submit Review Button */
.submitReview {
  border: none;
  background-color: #000102;
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  animation: fadeIn 1s ease-in-out;
  display: flex;
    align-items: center;
}

.submitReview:hover {
  background-color: rgb(114, 113, 113);
  transform: scale(1.1);
}

.submitReview::before {
  content: "➤";
  font-size: 1.5vmax;
  margin-right: 0.5vmax;
}
/* Submit Dialog */
.submitDialog {
  display: flex;
  flex-direction: column;
}

.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}

/* Reviews */
.reviewsHeading {
  color: #000000be;
  font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 4vmax;
}

.reviews {
  display: flex;
  overflow: auto;
  animation: fadeIn 1s ease-in-out;
}

/* Review Card */
.reviewCard {
  flex: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(56, 56, 56, 0.116);
  width: 20vmax;
  /* Decreased width */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 2vmax;
  /* Decreased padding */
    animation: fadeIn 1s ease-in-out;
}

.reviewCard>img {
  width: 4vmax;
  /* Decreased image width */
    height: 4vmax;
    /* Added image height */
    object-fit: cover;
    border-radius: 50%;
    /* Rounded image */
}

.reviewCard>p {
  color: rgba(0, 0, 0, 0.836);
  font: 500 1vmax "Roboto";
  /* Adjusted font size */
    text-align: center;
    margin-top: 1vmax;
    /* Added margin-top */
}

.reviewCardComment {
  color: rgba(0, 0, 0, 0.445);
  font: 400 0.8vmax cursive;
  /* Adjusted font size and weight */
    text-align: center;
    margin-top: 1vmax;
    /* Added margin-top */
}

.noReviews {
  font: 400 1.3vmax "Gill Sans";
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}

/* Keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* Media Queries */
@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    height: unset;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .ProductDetails>div:last-child {
    align-items: center;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-1>h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-1>p {
    text-align: center;
    font-size: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
.detailsBlock-2>span {
    font-size: 1.5vmax;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-3>h1 {
    font: 700 3vmax "Franklin Gothic Medium";
    text-align: center;
  }

  .detailsBlock-3-1 {
    flex-direction: column;
  }

  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
.detailsBlock-3-1-1>button {
    padding: 1.2vmax;
    width: 4vmax;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-3-1-1>input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Roboto";
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-3-1>button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

    .buttonStyle {
      font: 500 1.7vmax "Roboto";
      padding: 1.5vmax;
      width: 20vmax;
      margin: 3vmax 0;
    }
.detailsBlock-3>p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Roboto";
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .detailsBlock-4>p {
    font: 300 1.8vmax sans-serif;
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .reviewCard>p {
    font: 600 3vw "Roboto";
  }

  .reviewCardComment {
    font: 300 5vw cursive;
  }
}